<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zeePizza</display-name>
  <welcome-file-list>
    <welcome-file>pizzaHome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>zeePizza.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>zeePizza.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>zeePizza.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pizzaServlet</display-name>
    <servlet-name>pizzaServlet</servlet-name>
    <servlet-class>zeePizza.pizzaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pizzaServlet</servlet-name>
    <url-pattern>/pizzaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeLoginServlet</display-name>
    <servlet-name>employeeLoginServlet</servlet-name>
    <servlet-class>zeePizza.employeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeLoginServlet</servlet-name>
    <url-pattern>/employeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>empLogout</display-name>
    <servlet-name>empLogout</servlet-name>
    <servlet-class>zeePizza.empLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empLogout</servlet-name>
    <url-pattern>/empLogout</url-pattern>
  </servlet-mapping>
</web-app>